<footer>
  <div class="container">

    <div class="footer-contacts row">
      <div class="col-xs-3">
        <h3 class="footer-contacts__city">New York</h3>
        <p class="footer-contacts__adress"> Park Avenue South <br>Floor 15<br>New York, NY 10016 <br>USA</p>
        <a href="" class="footer-contacts__phone">+1 (212) 378-4108</a>
        <a href="" class="footer-contacts__mail">New-York@dataart.com</a>
      </div>
      <div class="col-xs-3">
        <h3 class="footer-contacts__city">New York</h3>
        <p class="footer-contacts__adress"> Park Avenue South <br>Floor 15<br>New York, NY 10016 <br>USA</p>
        <a href="" class="footer-contacts__phone">+1 (212) 378-4108</a>
        <a href="" class="footer-contacts__mail">New-York@dataart.com</a>
      </div>
      <div class="col-xs-3">
        <h3 class="footer-contacts__city">New York</h3>
        <p class="footer-contacts__adress"> Park Avenue South <br>Floor 15<br>New York, NY 10016 <br>USA</p>
        <a href="" class="footer-contacts__phone">+1 (212) 378-4108</a>
        <a href="" class="footer-contacts__mail">New-York@dataart.com</a>
      </div>
      <div class="col-xs-3">
        <div class="footer-contacts__social">Follow Us</div>
        <a href="" class="social-link social-link--fb"></a>
        <a href="" class="social-link social-link--tw"></a>
        <a href="" class="social-link social-link--gplus"></a>
        <a href="" class="social-link social-link--li"></a>
      </div>
    </div>

    <div class="footer-sitemap row">
      <div class="col-xs-3">
        <h3 class="footer-sitemap__heading">Company</h3>
        <ul class="footer-sitemap__list">
          <li><a href="">What We Do</a></li>
          <li><a href="">Why DataArt</a></li>
          <li><a href="">Management Team</a></li>
          <li><a href="">Global Locations</a></li>
          <li><a href="">Industry Recognition</a></li>
        </ul>

      </div>
      <div class="col-xs-3">
        <h3 class="footer-sitemap__heading">Company</h3>
        <ul class="footer-sitemap__list">
          <li><a href="">What We Do</a></li>
          <li><a href="">Why DataArt</a></li>
          <li><a href="">Management Team</a></li>
          <li><a href="">Global Locations</a></li>
          <li><a href="">Industry Recognition</a></li>
        </ul>

      </div>
      <div class="col-xs-3">
        <h3 class="footer-sitemap__heading">Company</h3>
        <ul class="footer-sitemap__list">
          <li><a href="">What We Do</a></li>
          <li><a href="">Why DataArt</a></li>
          <li><a href="">Management Team</a></li>
          <li><a href="">Global Locations</a></li>
          <li><a href="">Industry Recognition</a></li>
        </ul>

      </div>
      <div class="col-xs-3">
        <h3 class="footer-sitemap__heading">Company</h3>
        <ul class="footer-sitemap__list">
          <li><a href="">What We Do</a></li>
          <li><a href="">Why DataArt</a></li>
          <li><a href="">Management Team</a></li>
          <li><a href="">Global Locations</a></li>
          <li><a href="">Industry Recognition</a></li>
        </ul>

      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script type="text/javascript" src="js/vendors/owl.carousel.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
