<header class="cd-header container">
  <div class="row">
    <div class="container">
      <div class="cd-logo col-xs-4">
        <a href="#0"><img src="img/layout/dataart-logo-753.svg" alt="Logo" class="svg"></a>
      </div>

      <a class="cd-primary-nav-trigger" href="#0">
        <span class="cd-menu-icon"></span>
      </a>
  	</header>
  </div>

  </div>

	<nav>
		<ul class="cd-primary-nav">
			<li class="cd-label">INDUSTRIES</li>

			<li><a href="#0">FINANCIAL SERVICES</a></li>
			<li><a href="#0">TRAVEL & HOSPITALITY</a></li>
			<li><a href="#0">HEATHCARE & LIFE SCIENCES</a></li>
      <li><a href="#0">MEDIA & ENTERTAINMENT</a></li>

			<li class="cd-label">LEARN MORE</li>

			<li><a href="#0">SERVICES</a></li>
			<li><a href="#0">TECHNOLOGIES</a></li>
			<li><a href="#0">CLIENTS</a></li>
      <li><a href="#0">NEWSROOM</a></li>

      <li class="cd-label">ABOUT US</li>

			<li><a href="#0">ABOUT DATAART</a></li>
			<li><a href="#0">MANAGEMENT TEAM</a></li>

      <li class="cd-label">GET IN TOUCH</li>

			<li><a href="#0">CONTACT US</a></li>

		</ul>
	</nav>
