<div class="row">
  <div class="container">
    <div class="industry-expertise">
      <div class="industry-expertise__heading">
        <span class="industry-expertise__heading-text">INDUSTRY EXPERTISE</span>
      </div>
      <div class="industry-expertise__feature-text">
        <p>At DataArt, we invest heavily in advanced, proprietary training programs for engineers to learn our key focus industry verticals.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <div class="industry-item__photo"><a href="#"><img src="http://placehold.it/300x180" alt="" /></a></div>
        <div class="industry-item__text">
          <a class="industry-item__heading" href="#">Financial Services</a>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditii</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="industry-item__photo"><a href="#"><img src="http://placehold.it/300x180" alt="" /></a></div>
        <div class="industry-item__text">
          <a class="industry-item__heading" href="#">Financial Services</a>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditii</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="industry-item__photo"><a href="#"><img src="http://placehold.it/300x180" alt="" /></a></div>
        <div class="industry-item__text">
          <a class="industry-item__heading" href="#">Financial Services</a>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditii</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="industry-item__photo"><a href="#"><img src="http://placehold.it/300x180" alt="" /></a></div>
        <div class="industry-item__text">
          <a class="industry-item__heading" href="#">Financial Services</a>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditii</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="industry-item__photo"><a href="#"><img src="http://placehold.it/300x180" alt="" /></a></div>
        <div class="industry-item__text">
          <a class="industry-item__heading" href="#">Financial Services</a>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditii</p>
        </div>
      </div>
    </div>
  </div>
</div>
