<div class="contact-us row">
  <div class="container">

    <div class="section-heading">
      <h2 class="section-heading__text">GLOBAL CONTACTS</h2>
    </div>

    <div class="section-feature">
      <p class="section-feature__text--bolder">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
    </div>

    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="row">
          <div class="col-xs-4">
            <h3 class="global-locations__heading">Global Press Relations </h3>
            <strong class="global-locations__representative">Vica Miller</strong>
            <p class="global-locations__representative-title">SVP, Corporate Communications</p>
            <a href="" class="global-locations__representative-phone">+1 (212) 378-4108 x. 4014</a>
            <a href="" class="global-locations__representative-mail">vica@dataart.com</a>
          </div>
          <div class="col-xs-4">
            <h3 class="global-locations__heading">Global Press Relations </h3>
            <strong class="global-locations__representative">Vica Miller</strong>
            <p class="global-locations__representative-title">SVP, Corporate Communications</p>
            <a href="" class="global-locations__representative-phone">+1 (212) 378-4108 x. 4014</a>
            <a href="" class="global-locations__representative-mail">vica@dataart.com</a>
          </div>
          <div class="col-xs-4">
            <h3 class="global-locations__heading">Global Press Relations </h3>
            <strong class="global-locations__representative">Vica Miller</strong>
            <p class="global-locations__representative-title">SVP, Corporate Communications</p>
            <a href="" class="global-locations__representative-phone">+1 (212) 378-4108 x. 4014</a>
            <a href="" class="global-locations__representative-mail">vica@dataart.com</a>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
