<div class="leadership row">
  <div class="container">
    <div class="section-feature">
      <h1 class="section-feature__heading">Leadership</h1>
      <p class="section-feature__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
    </div>

    <div class="section-heading">
      <h2 class="section-heading__text">MANAGEMENT COMMITTEE</h2>
    </div>

    <div class="section-feature">
      <p class="section-feature__text--bolder">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
    </div>

    <div class="col-xs-3 leadership-member">
      <a href="#"><img src="http://www.dataart.com/images/photos/management/greg-abbott.jpg" alt="" class="leadership-member__photo--small"></a>
      <div class="leadership-member__text">
        <h3 class="leadership-member__name">Gregg Abbott</h3>
        <p class="leadership-member__title">Senior Vice President <br>Travel and Hospitality</p>
        <a href="" class="leadership-member__bio">Full biography</a>
      </div>
    </div>
    <div class="col-xs-3 leadership-member">
      <a href="#"><img src="http://www.dataart.com/images/photos/management/Dmitry_Bagrov-2-166.jpg" alt="" class="leadership-member__photo--small"></a>
      <div class="leadership-member__text">
        <h3 class="leadership-member__name">Dmitry Bagrov</h3>
        <p class="leadership-member__title">Managing Director <br>DataArt UK</p>
        <a href="" class="leadership-member__bio">Full biography</a>
      </div>
    </div>
    <div class="col-xs-3 leadership-member">
      <a href="#"><img src="http://www.dataart.com/images/photos/management/Roman-Chernyshev-166.jpg" alt="" class="leadership-member__photo--small"></a>
      <div class="leadership-member__text">
        <h3 class="leadership-member__name">Roman Chernyshev</h3>
        <p class="leadership-member__title">Senior Vice President <br>Healthcare and Life Sciences</p>
        <a href="" class="leadership-member__bio">Full biography</a>
      </div>
    </div>
    <div class="col-xs-3 leadership-member">
      <a href="#"><img src="http://www.dataart.com/images/photos/management/Charlotte-Lamp-Davies-166.jpg" alt="" class="leadership-member__photo--small"></a>
      <div class="leadership-member__text">
        <h3 class="leadership-member__name">Charlotte Lamp Davies</h3>
        <p class="leadership-member__title">Senior Vice President <br>Travel & Hospitality, Europe</p>
        <a href="" class="leadership-member__bio">Full biography</a>
      </div>
    </div>

    <div class="col-xs-3 leadership-member">
      <a href="#"><img src="http://www.dataart.com/images/photos/management/greg-abbott.jpg" alt="" class="leadership-member__photo--small"></a>
      <div class="leadership-member__text">
        <h3 class="leadership-member__name">Gregg Abbott</h3>
        <p class="leadership-member__title">Senior Vice President <br>Travel and Hospitality</p>
        <a href="" class="leadership-member__bio">Full biography</a>
      </div>
    </div>
    <div class="col-xs-3 leadership-member">
      <a href="#"><img src="http://www.dataart.com/images/photos/management/Dmitry_Bagrov-2-166.jpg" alt="" class="leadership-member__photo--small"></a>
      <div class="leadership-member__text">
        <h3 class="leadership-member__name">Dmitry Bagrov</h3>
        <p class="leadership-member__title">Managing Director <br>DataArt UK</p>
        <a href="" class="leadership-member__bio">Full biography</a>
      </div>
    </div>
    <div class="col-xs-3 leadership-member">
      <a href="#"><img src="http://www.dataart.com/images/photos/management/Roman-Chernyshev-166.jpg" alt="" class="leadership-member__photo--small"></a>
      <div class="leadership-member__text">
        <h3 class="leadership-member__name">Roman Chernyshev</h3>
        <p class="leadership-member__title">Senior Vice President <br>Healthcare and Life Sciences</p>
        <a href="" class="leadership-member__bio">Full biography</a>
      </div>
    </div>
    <div class="col-xs-3 leadership-member">
      <a href="#"><img src="http://www.dataart.com/images/photos/management/Charlotte-Lamp-Davies-166.jpg" alt="" class="leadership-member__photo--small"></a>
      <div class="leadership-member__text">
        <h3 class="leadership-member__name">Charlotte Lamp Davies</h3>
        <p class="leadership-member__title">Senior Vice President <br>Travel & Hospitality, Europe</p>
        <a href="" class="leadership-member__bio">Full biography</a>
      </div>
    </div>

    <div class="col-xs-3 leadership-member">
      <a href="#"><img src="http://www.dataart.com/images/photos/management/greg-abbott.jpg" alt="" class="leadership-member__photo--small"></a>
      <div class="leadership-member__text">
        <h3 class="leadership-member__name">Gregg Abbott</h3>
        <p class="leadership-member__title">Senior Vice President <br>Travel and Hospitality</p>
        <a href="" class="leadership-member__bio">Full biography</a>
      </div>
    </div>
    <div class="col-xs-3 leadership-member">
      <a href="#"><img src="http://www.dataart.com/images/photos/management/Dmitry_Bagrov-2-166.jpg" alt="" class="leadership-member__photo--small"></a>
      <div class="leadership-member__text">
        <h3 class="leadership-member__name">Dmitry Bagrov</h3>
        <p class="leadership-member__title">Managing Director <br>DataArt UK</p>
        <a href="" class="leadership-member__bio">Full biography</a>
      </div>
    </div>
    <div class="col-xs-3 leadership-member">
      <a href="#"><img src="http://www.dataart.com/images/photos/management/Roman-Chernyshev-166.jpg" alt="" class="leadership-member__photo--small"></a>
      <div class="leadership-member__text">
        <h3 class="leadership-member__name">Roman Chernyshev</h3>
        <p class="leadership-member__title">Senior Vice President <br>Healthcare and Life Sciences</p>
        <a href="" class="leadership-member__bio">Full biography</a>
      </div>
    </div>
    <div class="col-xs-3 leadership-member">
      <a href="#"><img src="http://www.dataart.com/images/photos/management/Charlotte-Lamp-Davies-166.jpg" alt="" class="leadership-member__photo--small"></a>
      <div class="leadership-member__text">
        <h3 class="leadership-member__name">Charlotte Lamp Davies</h3>
        <p class="leadership-member__title">Senior Vice President <br>Travel & Hospitality, Europe</p>
        <a href="" class="leadership-member__bio">Full biography</a>
      </div>
    </div>

    <div class="col-xs-3 leadership-member">
      <a href="#"><img src="http://www.dataart.com/images/photos/management/greg-abbott.jpg" alt="" class="leadership-member__photo--small"></a>
      <div class="leadership-member__text">
        <h3 class="leadership-member__name">Gregg Abbott</h3>
        <p class="leadership-member__title">Senior Vice President <br>Travel and Hospitality</p>
        <a href="" class="leadership-member__bio">Full biography</a>
      </div>
    </div>
    <div class="col-xs-3 leadership-member">
      <a href="#"><img src="http://www.dataart.com/images/photos/management/Dmitry_Bagrov-2-166.jpg" alt="" class="leadership-member__photo--small"></a>
      <div class="leadership-member__text">
        <h3 class="leadership-member__name">Dmitry Bagrov</h3>
        <p class="leadership-member__title">Managing Director <br>DataArt UK</p>
        <a href="" class="leadership-member__bio">Full biography</a>
      </div>
    </div>
    <div class="col-xs-3 leadership-member">
      <a href="#"><img src="http://www.dataart.com/images/photos/management/Roman-Chernyshev-166.jpg" alt="" class="leadership-member__photo--small"></a>
      <div class="leadership-member__text">
        <h3 class="leadership-member__name">Roman Chernyshev</h3>
        <p class="leadership-member__title">Senior Vice President <br>Healthcare and Life Sciences</p>
        <a href="" class="leadership-member__bio">Full biography</a>
      </div>
    </div>
    <div class="col-xs-3 leadership-member">
      <a href="#"><img src="http://www.dataart.com/images/photos/management/Charlotte-Lamp-Davies-166.jpg" alt="" class="leadership-member__photo--small"></a>
      <div class="leadership-member__text">
        <h3 class="leadership-member__name">Charlotte Lamp Davies</h3>
        <p class="leadership-member__title">Senior Vice President <br>Travel & Hospitality, Europe</p>
        <a href="" class="leadership-member__bio">Full biography</a>
      </div>
    </div>
  </div>
</div>
